.WinXP_Login_Container{
    overflow-y:hidden;
    height:100vh;
    .Login_Top_Bar{
        background-color:#00309c;
        height:7%;
        border-bottom:3px solid white;
        color:white;
        display:block;
    }
    .Login_Middle_Section{
        display:flex;
        
        align-items:center;
        background-color:#5a7edc;
        height:83%;
        color:white;

        &--left{
            border-right:2px solid rgba(255,255,255,0.2);
            padding:200px 20px 200px 0px;
            width:40%;
            display:flex;
            justify-content:flex-end;

            img{
                width:150px;
                display:block;
            }
        }
        &--right{
            width:60%;
            background-color:plum;
        }
    }
    .Login_Bottom_Bar{
        background:linear-gradient(to right, #3732ac, #00309c);
        height:10%;
        color:white;
        display:block;
        display:flex;
        justify-content:space-between;
        align-items:center;
    }
}