.WinXP_Login_Container {
  overflow-y: hidden;
  height: 100vh;
}

.WinXP_Login_Container .Login_Top_Bar {
  background-color: #00309c;
  height: 7%;
  border-bottom: 3px solid white;
  color: white;
  display: block;
}

.WinXP_Login_Container .Login_Middle_Section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #5a7edc;
  height: 83%;
  color: white;
}

.WinXP_Login_Container .Login_Middle_Section--left {
  font-family: arial;
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  padding: 100px 20px 100px 0px;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: right;
}

.WinXP_Login_Container .Login_Middle_Section--left img {
  width: 150px;
  display: block;
  margin-bottom: 10px;
}

.WinXP_Login_Container .Login_Middle_Section--right {
  width: 60%;
}

.WinXP_Login_Container .Login_Bottom_Bar {
  font-family: arial;
  background: -webkit-gradient(linear, left top, right top, from(#3732ac), to(#00309c));
  background: linear-gradient(to right, #3732ac, #00309c);
  height: 10%;
  color: white;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 3px solid gold;
}

.WinXP_Login_Container .Login_Bottom_Bar--left {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14pt;
}

.WinXP_Login_Container .Login_Bottom_Bar--left img {
  padding: 0px 30px;
}

.WinXP_Login_Container .Login_Bottom_Bar--right {
  font-size: 14pt;
  padding-right: 30px;
}

@media screen and (max-width: 900px) {
  .WinXP_Login_Container .Login_Bottom_Bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .WinXP_Login_Container .Login_Bottom_Bar--left, .WinXP_Login_Container .Login_Bottom_Bar--right {
    font-size: 10pt;
    padding: 0;
  }
  .WinXP_Login_Container .Login_Bottom_Bar--left img {
    margin: 0;
    padding: 0px 5px 0px 5px;
  }
  .WinXP_Login_Container .Login_Bottom_Bar--left p {
    display: none;
  }
  .WinXP_Login_Container .Login_Bottom_Bar--right p {
    padding: 3px;
    text-align: right;
    max-width: 300px;
    min-width: 250px;
  }
}

@media screen and (max-width: 450px) {
  .WinXP_Login_Container .Login_Middle_Section--left img {
    width: 100px;
  }
}

.LoginScreenUser--Container {
  width: 400px;
  padding: 5px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 40px;
  font-family: 'Roboto';
}

.LoginScreenUser--Container .LoginScreenUser--Left img {
  margin-left: 5px;
  display: block;
  width: 60px;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
}

.LoginScreenUser--Container .LoginScreenUser--Middle {
  margin-left: 15px;
}

.LoginScreenUser--Container .LoginScreenUser--Middle--AccName {
  font-size: 14pt;
}

.LoginScreenUser--Container .LoginScreenUser--Middle--TypePass {
  font-size: 10pt;
  font-weight: 100;
}

.LoginScreenUser--Container .LoginScreenUser--Middle--Input {
  position: relative;
  top: 15px;
  font-size: 12pt;
  padding: 3px 7px;
  border: 1px solid white;
  border-radius: 5px;
}

.LoginScreenUser--Container .LoginScreenUser--Middle--Input:focus {
  border-color: white;
}

.LoginScreenUser--Container .LoginScreenUser--Right img {
  position: relative;
  top: 36px;
  left: 5px;
  margin: 5px;
  width: 30px;
  cursor: pointer;
}

.LoginScreenUser--Active {
  background: -webkit-gradient(linear, left top, right top, from(#00309c), to(#5a7edc));
  background: linear-gradient(to right, #00309c, #5a7edc);
}

.LoginScreenUserAvatar--Active {
  border: 2px solid gold !important;
}
/*# sourceMappingURL=winXP_login.css.map */