html{
    overflow-y:hidden;
}

.WinXP_Desktop_Container{
    height:100vh;
    
    .DesktopArea{
    background-image: url('../public/images/xp_background.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    height:100%;
    z-index:0;
    overflow-x:hidden;
    overflow-y:hidden;
    }
    .Taskbar{
        display:flex;
        justify-content:space-between;
        align-items:center;
        color:white;
        z-index:101;
        height:50px;
        background-color:#245edc;
        border-top:3px solid #4993e6;
        position:absolute;
        bottom:0;
        width:100%;
        &--StartMenuButton{
            width:150px;
            height:100%;
            border-top:3px solid #3a7c3b;
            background-color:#45a445;
            display:flex;
            justify-content:center;
            align-items:center;
            border-bottom-right-radius:10px;
            font-family:"Roboto";
            font-weight:bold;
            &:hover{
                cursor:pointer;
                background-color:rgb(37, 119, 37);
            }
        }
        &--RightArea{
            font-family:"Roboto";
            font-weight:400;
            display:flex;
            border-top:2px solid #16aef0;
            border-left:2px solid darkblue;
            background-color:#1290e8;
            height:100%;
            justify-content:center;
            align-items:center;
            width:150px;
        }
    }
}

.startMenu{
    width:500px;
    background:white;
    height:600px;
    position:absolute;
    bottom:0px;
    border-top-right-radius: 15px;
    border-top-left-radius:15px;
    &--Top{
        height:80px;
        background:linear-gradient(#285fda,#1290e8);
        border-top-right-radius: 15px;
        border-top-left-radius:15px;
        display:flex;
        align-items:center;
        border-bottom:3px solid gold;
        &--UserName{
            color:white;
            font-family:'Roboto';
            font-size:24pt;
            padding-left:50px;
        }
    }
    &--Middle{
        height:390px;
        background:white;
        display:flex;
        width:100%;
        
        &--Left{
            width:50%;
        }
        &--Right{
            width:50%;
            background:#d1e1f8;
            border-left:#afafaf 2px solid;
        }
    }
    &--Bottom{
        height:80px;
        background:linear-gradient(#285fda,#1290e8);
        border-top:3px solid gold;
    }
}

@media screen and (max-width:600px){
    .startMenu{
        width:75vw;
    }
}