html {
  overflow-y: hidden;
}

.WinXP_Desktop_Container {
  height: 100vh;
}

.WinXP_Desktop_Container .DesktopArea {
  background-image: url("../public/images/xp_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  z-index: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

.WinXP_Desktop_Container .Taskbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  z-index: 101;
  height: 50px;
  background-color: #245edc;
  border-top: 3px solid #4993e6;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.WinXP_Desktop_Container .Taskbar--StartMenuButton {
  width: 150px;
  height: 100%;
  border-top: 3px solid #3a7c3b;
  background-color: #45a445;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: "Roboto";
  font-weight: bold;
}

.WinXP_Desktop_Container .Taskbar--StartMenuButton:hover {
  cursor: pointer;
  background-color: #257725;
}

.WinXP_Desktop_Container .Taskbar--RightArea {
  font-family: "Roboto";
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 2px solid #16aef0;
  border-left: 2px solid darkblue;
  background-color: #1290e8;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
}

.Taskbar--MiddleArea {
  width: 100%;
  margin-left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.TaskBar--MiddleArea--OpenApp {
  padding: 9px 15px 9px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3289f2;
  font-size: 14pt;
  font-family: 'Roboto';
  width: auto;
  border-radius: 5px;
}

.TaskBar--MiddleArea--OpenApp img {
  width: 30px;
  margin: 0px 5px 0px 0px;
  padding: 0;
}

.TaskBar--MiddleArea--OpenApp:hover {
  background-color: #649ee4;
  cursor: pointer;
}

.startMenu {
  width: 500px;
  background: white;
  height: 600px;
  position: absolute;
  bottom: 0px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.startMenu--Top {
  height: 80px;
  background: -webkit-gradient(linear, left top, left bottom, from(#285fda), to(#1290e8));
  background: linear-gradient(#285fda, #1290e8);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 3px solid gold;
}

.startMenu--Top--UserName {
  color: white;
  font-family: 'Roboto';
  font-size: 24pt;
  padding-left: 50px;
}

.startMenu--Middle {
  height: 390px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.startMenu--Middle--Left {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.startMenu--Middle--Left button {
  background-color: transparent;
  border: none;
}

.startMenu--Middle--Right {
  width: 50%;
  background: #d1e1f8;
  border-left: #afafaf 2px solid;
}

.startMenu--Bottom {
  height: 80px;
  background: -webkit-gradient(linear, left top, left bottom, from(#285fda), to(#1290e8));
  background: linear-gradient(#285fda, #1290e8);
  border-top: 3px solid gold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.startMenu--Bottom div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Roboto';
  color: white;
  padding: 10px;
  cursor: pointer;
}

.startMenu--Bottom div a {
  color: white;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.startMenu--Bottom div img {
  width: 50px;
  padding-right: 5px;
}

@media screen and (max-width: 600px) {
  .startMenu {
    width: 75vw;
  }
}

@media screen and (max-width: 475px) {
  .startMenu--Bottom div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 15px;
  }
}

@media screen and (max-height: 568px) {
  .startMenu {
    top: 50px;
  }
  .startMenu--Middle {
    height: 300px;
  }
}

.hidden {
  display: none !important;
}
/*# sourceMappingURL=winxp_desktop.css.map */